.table
{
    margin-top: 20px;
    overflow: scroll;
    height: 300px;
    color: rgb(0, 0, 0);
}
.table tr
{
    display: flex;
    justify-content: space-between;
}
.table td
{
    padding: 0.5rem;
} 
.table tr:nth-of-type(odd)
{
    background-color: rgb(238, 155, 155);
}
.table tr:nth-of-type(even)
{
    background-color: rgb(241, 86, 86);
}